.app {
  padding: 0 1rem 0 1rem;
}

.borders {
  border: 0.2rem solid #ececec;
  border-radius: 8px 8px;
  padding: 1rem;
}

.altitude-graph {
  height: 595px;
}

.altitude-graph-title {
  text-align: center;
}

.altitude-graph-loading {
  text-align: center;
}

.altitude-log {
  overflow-y: auto;
  height: 595px;
}

.altitude-log-title {
  text-align: center;
}

.average-altitude {
  text-align: center;
}

.time-open {
  text-align: center;
}

.warning-log-title {
  text-align: center;
}

.warning-log {
  overflow-y: auto;
  height: 225px;
}
